[Unit]
Description=Bitcoin Core for GltCore
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/opt/gltcore
ExecStart=/usr/bin/gltcore-bitcoind -datadir=/home/gltcore/.gltcore/data/
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
User=gltcore
ExecStartPre=/bin/mkdir -p /run/gltcore
ExecStartPre=/bin/chown gltcore:gltcore /run/gltcore
ExecStartPre=/bin/chmod 755 /run/gltcore
PermissionsStartOnly=true
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target