[Unit]
Description={{ deb_package_description }}
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/opt/gltcore
ExecStart=/usr/opt/gltcore/bin/gltcored
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
User=gltcore
ExecStartPre=/bin/mkdir -p /run/gltcore
ExecStartPre=/bin/chown gltcore:gltcore /run/gltcore
ExecStartPre=/bin/chmod 755 /run/gltcore
PermissionsStartOnly=true
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target